.t1{
    background-color:black ;
    text-decoration-color: none;
    width :100% ;
    padding :0px ;
}
.t2{
    text-decoration: none;
    color: white;
    direction: none;
}
.t3{
    margin-left: 40px;
}
    .img1{
      
        width : 150px; height : 150px;
        border: none;
        -moz-border-radius : 75px;
        -webkit-border-radius : 75px;
        border-radius : 75px;
        }
        





























































/*
#global
{
            width :100% ;
            padding :0px ;
}

#menu-gauche
{
            width :100% ;
}

#contenu
{
            width :100% ;
}

#sidebar-droite
{
            width :100% ;

}

}
*/